body {
    font-family: 'Montserrat', sans-serif;
    background-color: #EBEBEB;
}

.bg-darkblue {
    background-color: #012940;
}

.carousel {
    background-image: url('assets/cover.png');
    background-size: cover;
    height: 30rem;
}

.title-service h4 {
    color: #F34744;
    font-size: 22px;
    font-weight: 700;
}

.title-service h2 {
    color: #3A3A3A;
    font-size: 26px;
    font-weight: 800;
}

.item-service {
    background-color: #fff;
    /* height: 200px; */
    line-height: 2rem;
    border-radius: 30px;

}

.item-title {
    font-size: 26px;
    font-weight: 700;
    color: #012940;
}

.background-story {
    background-color: #fff;
    border-radius: 60px;
}

.title-background-story {
    font-size: 22px;
    font-weight: 700;
    color: #012940;
}

.background-story-content {
    line-height: 8vh;
    text-align: justify;
}

.visi-misi {
    background-color: crimson;
    height: 200px;
}

.sasaran {
    background-color: blueviolet;
    height: 200px;
}

.footer {
    background-color: darkblue;
    height: 50px;
}